@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/128/166/166749.png">
    <link rel="stylesheet" href="~/css/login.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script>
        window.HomeUrl = '@ViewBag.HomeUrl';
        window.TagsUrl = '@ViewBag.TagsUrl';
        window.NotifyUrl = '@ViewBag.NotifyUrl';
        window.ProfileUrl = '@ViewBag.ProfileUrl';
        window.LoginUrl = '@ViewBag.LoginUrl';
        window.SignupUrl = '@ViewBag.SignupUrl';
    </script>
</head>

<body>
    <!-- Header -->
    <header class="navbar">
        <div class="logo">
            <a href="#">
                <img src="/picture/logo.png" alt="Monkey Assemble Logo">
            </a>
        </div>

        <input type="checkbox" id="toggle">
        <label class="toggle" for="toggle">
            <i class="bx bxs-sun"></i>
            <i class="bx bx-moon"></i>
            <span class="ball"></span>
        </label>
    </header>

    <div class="login-card">
        <h2>Login</h2>
        <form asp-action="Login" method="post">
            <div class="input-group">
                <input type="text" name="username" required />
                <label>User</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required />
                <label>Password</label>
            </div>

            <div class="forget-container">
                <a href="#" class="forget-link">Forgot Password?</a>
            </div>

            <button type="submit" class="login-btn">Login</button>
        </form>

        <p>Don’t have an account? <a href="@ViewBag.SignupUrl" class="sign-up">Sign up</a></p>

        @if (ViewBag.Error != null)
        {
            <p style="color:red">@ViewBag.Error</p>
        }

    </div>

    <script src="/js/login.js"></script>
</body>

</html>